body{
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrollbar when section content overflows */
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(255, 255, 255, 0.97);
    
}

.lang{
    position: fixed;
    right: 0px;
    bottom: 10px;
    /* width: 100%; */
}
.language-buton{
    background-color: rgb(53, 163, 145) ;
    color: white;
}
.language-buton:hover{
    position: relative;
    top: -10px;
    background-color: rgba(66,191,171) ;
    transition: all ease-in .5s;
    color: white;

}
#lang-dis{
    max-width: 15vw;
    background-color: rgb(1, 104, 169) ;
    color: white;

}
.lang-item{
    min-width: 15vw;
    cursor: pointer;
    height: 100%; 

}
.lang-item:hover{
    background-color: rgb(63, 131, 173) ;




}

.logo-nav{
    height: 13vh;
}
.Nav_home{
    background: linear-gradient(rgb(0, 44, 72),rgba(0, 44, 72, 0.416)),url('./imgs/bac&cont/pexels-engin-akyurt-2678059.jpg');
    background-size: cover;
    background-position: center;
    height: 95vh;
    max-height: 500px;
}
/* #home{ */
    /* padding-top: 10rem; */

    /* background-image: url(imgs/bac&cont/Untitled.png); */
    /* background: rgb(66,191,171); */
    /* background: radial-gradient(circle, rgba(66,191,171,1) 3%, rgba(42,156,165,1) 14%, rgba(0,95,154,1) 48%, rgba(0,47,76,1) 96% ); */
    /* filter: brightness(120%); */
    /* background: linear-gradient(rgb(0, 44, 72),rgba(0, 44, 72, 0.416)),url('./imgs/bac&cont/pexels-engin-akyurt-2678059.jpg'); */
    /* max-height: 400px; */
/* } */
#about-us{
    height: 85vh;
    margin-top: 2rem;
    background-color: rgba(230, 234, 234, 0.653);
    /* box-shadow: 12px 12px 2px 1px rgba(1, 1, 81, 0.2); */
    max-height: 800px;
    
}
.form-para-enviar{
    width: 90%;
}
.text-about{
    width: 100%;
}


.nave{
    width: 50%;
    font-size: clamp(1rem, 1.5vw, 1.1rem);
}


.nave{
    width: 50%;
}

@media  screen and (min-width: 501px) and (max-width: 850px){
    #about-us{
        height: 900px;

    }
    .input-group-fix{
        width: 49%;
    }
    .pro{
        max-height: 60px;
    }
    .lang-item{
        min-width: 30vw;
    
    
    }
    #lang-dis{
        max-width: 30vw;
  
    
    }
}


.see{
    color: black;
}
.life{
    font-family: 'Dela Gothic One', cursive;
    color:white;
    font-size: large;
}
.contact-life{
    font-family: 'Dela Gothic One', cursive;
    color: rgba(66,191,171);
    position: relative;
    bottom: -18px;

}
.contact-title{
/* blue (0,95,154) */
    color: rgba(0,95,154)  ;
    font-weight: bolder;
    font-size: 2rem;


}
.see:hover{
    color: rgba(66,191,171);

}
#ps{
    background-image: url(imgs/bac&cont/Group\ 2\(1\).png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;




}
.more{
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border-color: white;
    /* border-style: solid; */

}
.more:hover{
    background-color: rgb(212, 213, 213);
    transition: all ease-in .2s;
    color: navy;
    
}
#contact{
    background-image: url(imgs/bac&cont/escritorio-vacio-consultorio-medico-computadora-e-instrumentos-medicos-nadie-gabinete-utiliza-cita-consulta-visita-control-donde-medico-trata-pacientes-enfermedades_482257-41824.jpg);
    /* height: 90vh; */
    background-size: cover;
}
.form{
    background-color: rgba(79, 91, 118, 0.616);
    height: 75%;
    /* min-width: 30vw; */
    height: 90vh;
}
.info{
    background-color: rgb(237, 234, 234);
    min-width: 50vw;



}
.informa{
    display: flex;
    flex: row;
}
.letras-home{
    /* height: 15vh; */
    /* font-size: 15vh; */
    /* max-width: 90vw; */
    font-size: clamp(3rem, 10vw, 5rem);
}


p{
    font-size: clamp(1rem, 2vw, 1.1rem);
}
.contact-logo{
    height: 20vh;
    /* max-height: 30vh;
    max-width: 50vw; */

    
}

.titles{
    color: navy;
}
.about-images{
    height: 100%;
    min-height: 300px;
    max-width: 450px;

    

    

}

.real-form{
    /* background-color: rgba(2, 55, 87, 0.567); */
    max-width: 100%;
    
    
}


p{
    font-size: clamp(1rem, 1.5vw, 1.1rem);
    
    width: 35vw;
}
.nav{
    
    /* background: linear-gradient(rgba(7, 71, 111, 0.564), rgba(66,191,171));  */
    background: linear-gradient(rgba(0, 44, 72, 0.849),rgba(0, 8, 49, 0.007), rgba(1, 13, 55, 0.056));

    /* position: s;
    top: 0; */
    width: 100%;
    /* Add other styles like height, padding, etc. */
    z-index: 100; /* Ensures the navbar appears above other content */
    /* color: color-contrast(var(--primary-background) vs #fff, #000); */
   
}
.abou{
    max-height: 80vh;
}
.pands{
    max-width: 250px;
    height: 100%;
    /* width: 100%; */
    perspective: 1000px;
    transform-style: preserve-3d;
    position: relative;
    
    
}
.pands:hover{
    background-color: rgba(242, 242, 242, 0.302);
    
    position: relative;
    top: -20px;
    transition: 0.2s ease-in all;
    /* box-shadow: 5px 10px  rgba(0, 44, 72, 0.566); */
    cursor: pointer;
    /* border: solid;
    /* border-style: groove; */
    
    
}

.prod:hover{
    background-color: rgba(242, 242, 242, 0.302);
    transition: 0.2s ease-in all;
    position: relative;
    top: -10px;
     box-shadow: 0px 10px  rgba(0, 44, 72, 0.566);
    cursor: pointer;



}
.pro{
    height: 75px;
}
.products-subsection, .services-subsection{
    background-color: rgb(99, 132, 152);
    box-shadow: inset 0 0 10px #202020;
}
.close-image{
    height: 5vh;
}
.close{
    color: rgba(255, 255, 255, 0.484);
}
.coming{
    color: rgba(255, 255, 255, 0.484);
}
.close:hover{
    color: rgb(255, 255, 255);
    cursor: pointer;

}
.prods-images{
    height: 13rem;
}

/* *{
    
} */

.pands-flipped{
    transform: rotateY(180deg);
    backface-visibility: hidden;

    /* transition: transform .8s; */
    
}

.pands-wrapper{
    max-width: 90vw;
}
.pands-back{
    transform: rotateY(180deg);
    height: 100%;
    
    max-width: 250px;
    background-color: rgba(242, 242, 242, 0.302);
    overflow-y: auto;
    font-size: .9rem;

   


}

.pands-front{
    backface-visibility: hidden; 

}
.pands-back{
    backface-visibility: hidden; 

}
.pands-back,.pands-front{
    position: absolute;
    height: 100%;
    width: 100%;
}








.send-button{
    background-color: rgb(53, 163, 145) ;
    color: white;
}
.send-button:hover{
    background-color: rgba(66,191,171) ;
    /* transition: all ease-in .5s; */
    color: white;

    
}

   

.cards{
    max-width: 90vw;
}
/* .head{
    background-color: rgba(0, 44, 72, 0.676) ;
} */
/* blue (0,95,154) */
/* turq (66,191,171)  */
@media  screen and (max-width: 400px){
    .text-about{
        width: 50%;
    }
    #about-us{
        height: 1500px;

    }
    .input-group-fix{
        width: 49%;
    }
    .contact-logo{
        height: 50px;
    }


    .home-container{
        width: 80%;
    }
  
 
    .text-about-des{
        width: 95%;
    }
   



}
@media  screen and (max-width: 500px){
 
    .text-about{
        width: 88%;
    }
    #about-us{
        height: 600px;

    }
    .input-group-fix{
        width: 49%;
    }
    .contact-logo{
        height: 75px;
    }
    .logo-nav{
        height: 75px;

    }
    .about-images{
        /* height: 100%; */
        /* width: 300px; */
        display: none;
        
    
        
    
    }
    .pro{
        max-height: 50px;
    }
    .prod{
        font-size: .8rem;
    }
    .lang-item{
        min-width: 30vw;
    
    
    }
    #lang-dis{
        max-width: 30vw;
  
    
    }
 
  
}
@media screen and (min-width:370px) and (max-width: 430px) {
    .letras-home,.contact-title{
        font-size: 35px;

    }
    .life,.contact-life{

        font-size: 15px;
    }
    .home-p{
        font-size: 15px;
        
        /* width: 35vw; */
    }
    
}

@media screen and (max-width: 370px) {
    .letras-home,.contact-title{
        font-size: 30px;

    }
    .life,.contact-life{

        font-size: 10px;
    }
    .home-p{
        font-size: 10px;        
        /* width: 35vw; */
    }

    
}
@media  screen and (min-width: 851px) and (max-width: 1215px){

    .input-group-fix{
        width: 49%;
    }
 
}
@media screen and (min-width: 992px) and (max-width: 1200px){
    .nave{
        width: 75%;
    }
    .logo-nav{
        height: 70px;

    }
  
}
@media screen and (min-width: 768px) {
    .Nav_home{
        max-height: 600px;
    }
  
}

@media screen and (min-width: 992px){
    #about-us{
        height: 500px;
        width: 1150px;


    }
   
  
}