.logo-nav{
    height: 15vh;
}
#home{
    background-image: url(imgs/bac&cont/Untitled.png);
    height: 100vh;
    max-height: 95vh;
}
#about-us{
    height: 100vh;
}
.letras-home{
    height: 25vh;
}
.titles{
    color: navy;
}
.about-images{
    height: 49vh;
    width: 38vw;

}
p{
    font-size: 22px ;
    width: 40vw;
}